In [18]:
import pandas as pd 
import numpy as np

In [19]:
data=pd.read_csv(r"D:\Data science master\notebooks\data\cubic_zirconia.csv")

In [20]:
data

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779
...,...,...,...,...,...,...,...,...,...,...,...
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09,5408
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,1114
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

In [21]:
data.drop(labels=["Unnamed: 0"],axis=1,inplace=True)

In [22]:
data

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [23]:
data.shape

(26967, 10)

In [24]:
data.isnull().sum()

carat        0
cut          0
color        0
clarity      0
depth      697
table        0
x            0
y            0
z            0
price        0
dtype: int64

In [25]:
data.duplicated().sum()

34

In [26]:
data=data.dropna(how='any')

In [27]:
data=data.drop_duplicates()

In [28]:
data

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26236 rows x 10 columns]

In [29]:
data.isnull().sum().sum()

0

In [30]:
data.duplicated().sum()

0

In [31]:
data

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26236 rows x 10 columns]

In [32]:
data.shape

(26236, 10)

In [33]:
X=data.drop(labels=["price"],axis=1)

In [34]:
y=data[["price"]]

In [35]:
X

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26236 rows x 9 columns]

In [49]:
y

       price
0        499
1        984
2       6289
3       1082
4        779
...      ...
26962   5408
26963   1114
26964   1656
26965    682
26966   5166

[26236 rows x 1 columns]

In [50]:
categorical_cols=X.select_dtypes(include='object').columns

In [51]:
numerical_cols=X.select_dtypes(exclude='object').columns

In [52]:
categorical_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [53]:
numerical_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [54]:
X.select_dtypes(exclude="object")

       carat  depth  table     x     y     z
0       0.30   62.1   58.0  4.27  4.29  2.66
1       0.33   60.8   58.0  4.42  4.46  2.70
2       0.90   62.2   60.0  6.04  6.12  3.78
3       0.42   61.6   56.0  4.82  4.80  2.96
4       0.31   60.4   59.0  4.35  4.43  2.65
...      ...    ...    ...   ...   ...   ...
26962   1.11   62.3   58.0  6.61  6.52  4.09
26963   0.33   61.9   55.0  4.44  4.42  2.74
26964   0.51   61.7   58.0  5.12  5.15  3.17
26965   0.27   61.8   56.0  4.19  4.20  2.60
26966   1.25   62.0   58.0  6.90  6.88  4.27

[26236 rows x 6 columns]

In [55]:
X.select_dtypes(include="object")

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26236 rows x 3 columns]

In [56]:
cut_cata=X["cut"].unique()

In [57]:
cut_cata

array(['Ideal', 'Premium', 'Very Good', 'Good', 'Fair'], dtype=object)

In [58]:
X["color"].unique

<bound method Series.unique of 0        E
1        G
2        E
3        F
4        F
        ..
26962    G
26963    H
26964    E
26965    F
26966    J
Name: color, Length: 26236, dtype: object>

In [60]:
clarity_cata=X["clarity"].unique()

In [61]:
clarity_cata

array(['SI1', 'IF', 'VVS2', 'VS1', 'VVS1', 'VS2', 'SI2', 'I1'],
      dtype=object)

In [62]:
cut_categories=['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']
color_categories=['D','E','F','G','H','I','J']
clarity_categories=['SI1', 'IF', 'VVS2', 'VS1', 'VVS1', 'VS2', 'SI2', 'I1']

In [63]:
from sklearn.impute import SimpleImputer  ## Handling the missing values
from sklearn.preprocessing import StandardScaler # Handling feature selection
from sklearn.preprocessing import OrdinalEncoder  # ordinal encodinfg
## pipeline 
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [64]:
num_pipeline=Pipeline(

    steps=[

        ('imputer',SimpleImputer()),
        ('scaler',StandardScaler())
        ]
)

In [65]:
cat_pipeline=Pipeline(

    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [66]:
preprocessor=ColumnTransformer(
    [
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [67]:
## train and test split
from sklearn.model_selection import train_test_split

In [68]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.30,random_state=30)

In [69]:
preprocessor.fit_transform(X_train)

array([[ 0.83876336,  0.39712589, -0.65179757, ...,  0.        ,
         2.        ,  5.        ],
       [-0.16652788, -0.67331761,  2.03859238, ...,  3.        ,
         1.        ,  5.        ],
       [ 0.23139991,  1.2534807 ,  1.59019406, ...,  3.        ,
         3.        ,  0.        ],
       ...,
       [ 3.22633004,  0.46848879, -0.92083656, ...,  2.        ,
         4.        ,  7.        ],
       [-0.81577846,  0.11167429, -1.10019589, ...,  0.        ,
         2.        ,  2.        ],
       [-1.04615771, -0.10241441, -0.20339924, ...,  0.        ,
         0.        ,  2.        ]])

In [70]:
preprocessor.transform(X_train)

array([[ 0.83876336,  0.39712589, -0.65179757, ...,  0.        ,
         2.        ,  5.        ],
       [-0.16652788, -0.67331761,  2.03859238, ...,  3.        ,
         1.        ,  5.        ],
       [ 0.23139991,  1.2534807 ,  1.59019406, ...,  3.        ,
         3.        ,  0.        ],
       ...,
       [ 3.22633004,  0.46848879, -0.92083656, ...,  2.        ,
         4.        ,  7.        ],
       [-0.81577846,  0.11167429, -1.10019589, ...,  0.        ,
         2.        ,  2.        ],
       [-1.04615771, -0.10241441, -0.20339924, ...,  0.        ,
         0.        ,  2.        ]])

In [71]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [72]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [73]:
X_train

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,0.838763,0.397126,-0.651798,0.963924,0.887453,1.003399,0.0,2.0,5.0
1,-0.166528,-0.673318,2.038592,-0.003388,0.035374,-0.056579,3.0,1.0,5.0
2,0.231400,1.253481,1.590194,0.280594,0.305340,0.459086,3.0,3.0,0.0
3,0.503666,0.468489,-0.651798,0.679943,0.600614,0.716919,1.0,0.0,6.0
4,-0.459738,-0.173777,0.244999,-0.340616,-0.276773,-0.328736,1.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...
18360,1.529901,-0.031052,-0.203399,1.443143,1.410511,1.461769,0.0,5.0,5.0
18361,-0.564456,-1.743761,1.590194,-0.420486,-0.378011,-0.586569,2.0,0.0,6.0
18362,3.226330,0.468489,-0.920837,2.401581,2.338517,2.507423,2.0,4.0,7.0
18363,-0.815778,0.111674,-1.100196,-0.846458,-0.799832,-0.830077,0.0,2.0,2.0
18364,-1.046158,-0.102414,-0.203399,-1.263556,-1.196343,-1.259798,0.0,0.0,2.0

In [74]:
X_test

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.124641,0.682577,0.693397,0.040984,-0.006808,0.100985,1.0,2.0,0.0
1,0.440836,-1.529672,1.590194,0.697692,0.617487,0.473410,1.0,3.0,0.0
2,1.885942,-1.386947,0.693397,1.744874,1.697349,1.547713,1.0,3.0,2.0
3,0.943481,-0.816043,-0.203399,1.123664,1.039308,0.989075,0.0,4.0,2.0
4,-0.773891,0.183037,-1.100196,-0.784337,-0.774522,-0.772781,0.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...
7866,-1.025214,0.111674,-0.651798,-1.254682,-1.154161,-1.216826,2.0,1.0,3.0
7867,0.524610,0.753940,0.244999,0.662194,0.592178,0.745567,1.0,3.0,5.0
7868,-0.627286,-1.529672,0.244999,-0.562477,-0.487684,-0.686837,3.0,2.0,0.0
7869,0.461779,2.538013,0.693397,0.484705,0.406577,0.774215,4.0,1.0,6.0
7870,0.587441,0.040311,-0.651798,0.759813,0.684979,0.745567,0.0,4.0,5.0

In [75]:
# creating the models
"""linear regression
ridge regreession
lasso regreession
elastic net"""

'linear regression\nridge regreession\nlasso regreession\nelastic net'

In [76]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [77]:
import numpy as nu 
def evaluatate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    return mae,rmse,r2_square

In [78]:
#CREATED THE DISCTIONARY OF MODELS

models={
    'linearRegression':LinearRegression(),
    'Lasso': Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [79]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [80]:
list(models)

['linearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [81]:
for i in range(len(list(models))):
    print(i)

0
1
2
3

In [82]:
models

{'linearRegression': LinearRegression(),
 'Lasso': Lasso(),
 'Ridge': Ridge(),
 'Elasticnet': ElasticNet()}

In [83]:
models.keys()

dict_keys(['linearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [84]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [85]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()

In [88]:

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
   

    #Make Predections
    y_pred=model.predict(X_test)
    # veliadation and test score

    mae,rmse,r2_square=evaluatate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training performance')
    print("Rmse:" , rmse)
    print('MAE:',mae)
    print("R2_score",r2_square*100)

    r2_list.append(r2_square)

    print('='*35)
    print('\n')

linearRegression
Model Training performance
Rmse: 1423.1832750530864
MAE: 889.5001445295289
R2_score 87.35985300346846
===================================


Lasso
Model Training performance
Rmse: 1422.8810880957396
MAE: 890.9714835674273
R2_score 87.36522024197923
===================================


Ridge
Model Training performance
Rmse: 1423.1009850646706
MAE: 889.8173070534476
R2_score 87.36131469501113
===================================


Elasticnet
Model Training performance
Rmse: 1729.5051394590125
MAE: 1171.2511040371883
R2_score 81.33301512324248
===================================

In [91]:
trained_model_list

[]

In [92]:
model_list

['linearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [94]:
r2_list

[0.8735985300346846,
 0.8736522024197924,
 0.8736131469501113,
 0.8133301512324247]